{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1 class="title mb-5 mt-5">Liste des emprunts non rendu lilili </h1>

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Date Emprunt</th>
            <th scope="col">Date de rendu</th>
            <th scope="col">Étudiant</th>
            <th scope="col">Matériel</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for eleve in list %}
                <tr>
                    <td scope="row">{{eleve.empruntDate ? eleve.empruntDate|date('d-m-Y H:i:s') : ''}}</td>
                    <td>{{eleve.rendered ? eleve.rendered|date('d-m-Y H:i:s') : ''}}</td>
                    <td> {{eleve.studientId}}</td>
                    <td>{{eleve.material.name}}</td>
                    <td> {{ include('home/_sendEmail.html.twig') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
