{% extends 'base.html.twig' %}

{% block title %}Éditer un matériel{% endblock %}

{% block body %}



    <h1 class="title">Éditer un matériel</h1>

    {# {{ include('material/_form.html.twig', {'button_label': 'Update'}) }} #}
    {{form_start(form)}}
        {{ form_label(form.name) }}
      {{ form_widget(form.name) }}
    {{ form_end(form) }}
    

    {{ include('material/_delete_form.html.twig') }}
    
{% endblock %}
