{% extends 'base.html.twig' %}

{% block title %}Material index{% endblock %}

{% block body %}

    <h1 class="title mb-5 mt-5">Liste des équipements</h1>
    <div class="d-flex flex-row-reverse mb-4">
    <a class="btn btn-primary " href="{{ path('app_material_new') }}">Ajouter un nouveau matériel</a>
    </div>
    
    {% if materials %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materials %}
                <tr>
                    
                    <td>{{ material.name }}</td>
                    <td>{{ material.quantity }}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center space-ch">
                        <a href="{{ path('app_material_edit', {'id': material.id}) }}"><button class="btn btn-primary">éditer </button> </a>
                         {{ include('material/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
                        </div>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

    

    
{% endblock %}
